/*
 Theme Name:   iStore
 Theme URI:    http://themes4wp.com/theme/istore/
 Description:  iStore is a child theme of MaxStore WooCommerce WordPress theme. iStore is WooCommerce WordPress Theme suitable for eCommerce websites of any store type: fashion, sport, technology, fashion, furniture, digitals etc. Its modern design is perfect to create a website for your business. iSotre includes plenty of customization options that are easy to use. Main features of iStore: Customizer theme options, background image and color, wishlist support, grid homepage block, product search with category select, SEO optimized, fully responsive, configurable home page, fast loading. Documentation available at http://demo.themes4wp.com/documentation/category/istore/ and check the demo at http://demo.themes4wp.com/istore/ 
 Author:       Themes4WP
 Author URI:   http://themes4wp.com/
 Template:     maxstore
 Version:      1.0.4
 License:      GNU General Public License v3 or later
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         one-column, two-columns, three-columns, right-sidebar, left-sidebar, custom-background, custom-menu, featured-images, flexible-header, theme-options, translation-ready, footer-widgets, e-commerce
 Text Domain:  istore
*/

.header-alt .top-wishlist .fa {
    font-size: 34px;
}
.header-alt span.amount-title, .header-alt span.amount-cart {
    display: none;
}
.header-alt .top-wishlist {
    border-left: none;
    padding: 0px 5px;
    margin-left: 0;
}
.header-banner.col-sm-6.col-xs-8 {
    margin: 10px 0;
}
.header-alt .header-cart-inner {
    margin-right: 10px;
}
.header-alt .header-cart {
    padding: 0 5px 0 0;
}
.rsrc-header {
    padding-left: 0;
}
.top-wishlist .count {
    top: -5px;
}
a, .pagination > li > a, .pagination > li > span, .top-wishlist a {
    color: #00E419;
}
.related-header, blockquote, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border-color: #00E419;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #00E419;
}
.woocommerce ul.products li.product .onsale, .woocommerce span.onsale, .top-area .onsale {
    background-color: #00E419;
}
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #00E419;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce button.button.alt.disabled {
    background-color: #00E419;
}
.woocommerce ul.products li.product .button, .add-to-wishlist-custom:hover, #back-top span, .footer-pagination, li.woocommerce-MyAccount-navigation-link.is-active {
    background-color: #00E419;
}
.btn-primary.outline {
    border: 2px solid #00E419;
    color: #00E419;
}
.widget_search #searchform #searchsubmit, .woocommerce-product-search input[type="submit"], .btn-info, .comment-respond #submit, #searchform #searchsubmit, .btn-primary.outline:hover, .btn-primary.outline a:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary, .topfirst-img:hover .btn-primary.outline {
    border-color: #00E419;
    background-color: #00E419;
}
btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info, .comment-respond #submit:hover, .comment-respond #submit:focus, .comment-respond #submit.focus, .comment-respond #submit:active, .comment-respond #submit.active, .open > .dropdown-toggle.comment-respond #submit, #searchform #searchsubmit:hover, #searchform #searchsubmit:focus, #searchform #searchsubmit.focus, #searchform #searchsubmit:active, #searchform #searchsubmit.active, .open > .dropdown-toggle#searchform #searchsubmit {
    border-color: #1F8100;
    background-color: #1F8100;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom-color: #00E419;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .navigation.pagination {
    background-color: #00E419;
}
.woocommerce ul.products li.product .button, .add-to-wishlist-custom {width: initial;} 
.woocommerce ul.products li.product:hover .button {left: 50%; transform: translate(-50%, 0);} 
.woocommerce ul.products li.product:hover .add-to-wishlist-custom {right: 50%; transform: translate(50%, 0);}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, a:hover, a:focus {
    color: #1F8100;
}
#content-footer-section {
    background-color: transparent;
}
.add-to-wishlist-custom a:hover {
    color: #ffffff;
} 