/*SHORTCODES*/
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

.shortcodes *, 
.shortcodes *:before, 
.shortcodes *:after,
.form-input-button input,
.footer_box .searchform-right input,
.footer_box .newsletter .submit-newsletter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.tk_sc_block_toggle {
    float: left;
}

.dropcap-no-background {
    padding: 13px 8px 10px 0;
}

.tk_sc_block_toggle h5.tab-head, 
.tk_sc_block_accordion h5.tab-head {
    display: inherit;
}

.shortcodes .tk_sc_block_accordion i {
    top: 20px;
    font-size: 16px;
}

.shortcodes .tk_sc_block_toggle i {
    top: 14px;
}

.shortcodes .tk-shortcode-tabs {
    float: left;
}

.shortcodes .tk-shortcode-tabs ul li {
    float: left;
    width: auto;
    padding: 0;
    margin: 0;
}

.shortcodes .tk-shortcode-tabs ul {
    background: none;
}

.tk-shortcode-tabs .nav-tabs a {
    float: left;
    padding: 15px 17px 13px 17px;
}

.tk-shortcode-tabs .nav-tabs a h5 {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-size: 19px;
    line-height: 18px;
}

.shortcodes .tk-shortcode-tabs ul {
    margin: 0 0 -1px 0!important;
}

.tab-pane {display: none;}
.tab-pane.active {display: block;}

.pricing-table-one h4 {
    font-weight: 400;
    font-size: 29px;
    margin-bottom: 0;
    display: inherit;
}

.pricing-table-one span {
    color: #5d5d5d;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tk_sc_block_toggle h5.tab-head, 
.tk_sc_block_accordion h5.tab-head {
    font-size: 23px;
    line-height: 24px;
}

.shortcodes .pricing-table-one .color-buttons a:hover {
    color: #fff;
}
.pricing-button a.price_btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 15px 5px;
}

.shortcodes .pricing-table-one-center p {
    width: auto;
    padding: 10px 0;
}

body .shortcodes .progress {
    background: #E6E6E6;
    margin: 0 0 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body .shortcodes .progress .bar {
    background: #00BEFA;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tk-infobox {
    float: left;
    width: 100%;
}

.tk-infobox p {
    font-size: 15px;
}

.tk-infobox.alert {
    padding: 17px 30px 17px 24px;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.tab-content {
    display: inline-block;
    width: 100%;
}

.tab-pane.active {
    background: #ffffff;
}

.tab-pane {
    margin-top: 0;
}

.tab-pane,
.tab-content,
.tk-shortcode-tabs {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
}

.shortcodes .tk-shortcode-tabs ul li,
.tk_sc_block_toggle {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.tk-shortcode-tabs .nav-tabs a,
.shortcodes .tk-shortcode-tabs ul li {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.shortcodes .dropcap-background {
    font-size: 30px!important;
    padding: 2px 9px;
    margin: 4px 6px 0 0!important;
}

.shortcodes .tk-infobox p {
    margin: 0!important;
}

.shortcodes .alert-error p {color: #c44a4a!important;}
.shortcodes .alert-success p {color: #808d39!important;}
.shortcodes .alert-block p {color: #bca272!important;}
.shortcodes .alert-info p {color: #3f78a6!important;}

.shortcodes .pricing-table-one-center p {
    width: auto;
    padding: 7px 0 0 0;
    margin: 0!important;
}

.pricing-table-one-center span {
    line-height: 29px;
    padding-top: 2px;
    margin-bottom: 2px;
}

.col-sm-6 .pricing-table-one-center {
    padding: 7px 20px;
}

.shortcodes .pricing-table-one-top p {
    margin: 0!important;
    display: inline-block;
}

.shortcodes .pricing-table-one-top h4 {
    margin: 0!important;
    display: inline-block;
}

.pricing-button h6 a.price_btn {
    float: none;
    font-weight: bold;
    font-size: 14px;
}

.tk_sc_block_toggle h5.tab-head, 
.tk_sc_block_accordion h5.tab-head {
    float: none;
}

.shortcodes .tk_sc_block_accordion .tab-body p {
    margin: 0!important;
    font-size: 15px;
    line-height: 24px;
}

.tk_sc_block_accordion .tab-body {
    padding: 15px 21px 15px;
}

.shortcodes .tk-shortcode-tabs .nav-tabs li a {
    margin: 0 -1px -1px 0!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.tk_sc_block_toggle h5.tab-head, .tk_sc_block_accordion h5.tab-head {
    padding: 16px 70px 16px 20px;
}
.pricing-table-one .price_btn:hover,
.pricing-table-one .price_btn {color: #fff!important;}

.pricing-table-one .pricing-button {
    float: none;
    height: auto;
}

.pricing-table-one .pricing-table-one-top {
    display: inline-block;
    width: 100%;
}

blockquote {
    border-left: none;
    display: inline-block;
}

.pricing-table-one-center a:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}


/*Buttons*/
a.btn {
    font-size: 13px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 9px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.shortcodes a.btn.btn-large {
    font-size: 20px;
    padding: 17px 20px 17px;
}

.shortcodes a.btn.btn-small {
    padding: 5px 14px 5px;
}

.shortcodes a.btn.btn-mini {
    padding: 3px 10px 3px;
}

.shortcodes a.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

.tk_sc_block_toggle .tab-body p {
    margin-bottom: 0!important;
}

.pricing-button.color-button-yellow h6 a.price_btn,
a.btn.btn-warning {
    border: 1px solid #dfc102;
    background-color: #fff000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff000), color-stop(100%, #ffcc11));
    background-image: -webkit-linear-gradient(top, #fff000, #ffcc11);
    background-image: -moz-linear-gradient(top, #fff000, #ffcc11);
    background-image: -ms-linear-gradient(top, #fff000, #ffcc11);
    background-image: -o-linear-gradient(top, #fff000, #ffcc11);
    color: #5b4d0e!important;
}

.pricing-button.pricing-button.color-button-yellow h6 a.price_btn:hover,
a.btn.btn-warning:hover {
    background-color: #ffe000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe000), color-stop(100%, #ffed11));
    background-image: -webkit-linear-gradient(top, #ffe000, #ffed11);
    background-image: -moz-linear-gradient(top, #ffe000, #ffed11);
    background-image: -ms-linear-gradient(top, #ffe000, #ffed11);
    background-image: -o-linear-gradient(top, #ffe000, #ffed11);
    color: #5b4d0e!important;
}

.pricing-button.color-button-black h6 a.price_btn,
a.btn.btn-inverse {
    border: 1px solid #4c4c4c;
    background-color: #919191;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #717171));
    background-image: -webkit-linear-gradient(top, #919191, #717171);
    background-image: -moz-linear-gradient(top, #919191, #717171);
    background-image: -ms-linear-gradient(top, #919191, #717171);
    background-image: -o-linear-gradient(top, #919191, #717171);
    color: #222!important;
}

.pricing-button.color-button-black h6 a.price_btn:hover,
a.btn.btn-inverse:hover {
    background-color: #8a8a8a;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(100%, #b9b9b9));
    background-image: -webkit-linear-gradient(top, #8a8a8a, #b9b9b9);
    background-image: -moz-linear-gradient(top, #8a8a8a, #b9b9b9);
    background-image: -ms-linear-gradient(top, #8a8a8a, #b9b9b9);
    background-image: -o-linear-gradient(top, #8a8a8a, #b9b9b9);
    color: #222!important;
}

.pricing-button.color-button-grey h6 a.price_btn,
a.btn.default {
    border: 1px solid #B4B4B4;
    background-color: #DCDCDC;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DCDCDC), color-stop(100%, #B2B2B2));
    background-image: -webkit-linear-gradient(top, #DCDCDC, #B2B2B2);
    background-image: -moz-linear-gradient(top, #DCDCDC, #B2B2B2);
    background-image: -ms-linear-gradient(top, #DCDCDC, #B2B2B2);
    background-image: -o-linear-gradient(top, #DCDCDC, #B2B2B2);
    color: #222!important;
}

.pricing-button.color-button-grey h6 a.price_btn:hover,
a.btn.default:hover {
    background-color: #CBCBCB;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%, #E1E1E1));
    background-image: -webkit-linear-gradient(top, #CBCBCB, #E1E1E1);
    background-image: -moz-linear-gradient(top, #CBCBCB, #E1E1E1);
    background-image: -ms-linear-gradient(top, #CBCBCB, #E1E1E1);
    background-image: -o-linear-gradient(top, #CBCBCB, #E1E1E1);
    color: #222!important;
}

.pricing-button.color-button-green h6 a.price_btn,
a.btn.btn-success {
    border: 1px solid #3a8226;
    background-color: #62c741;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c741), color-stop(100%, #45a334));
    background-image: -webkit-linear-gradient(top, #62c741, #45a334);
    background-image: -moz-linear-gradient(top, #62c741, #45a334);
    background-image: -ms-linear-gradient(top, #62c741, #45a334);
    background-image: -o-linear-gradient(top, #62c741, #45a334);
    color: #19480e!important;
}

.pricing-button.color-button-green h6 a.price_btn:hover,
a.btn.btn-success:hover {
    background-color: #56ba39;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56ba39), color-stop(100%, #7ad756));
    background-image: -webkit-linear-gradient(top, #56ba39, #7ad756);
    background-image: -moz-linear-gradient(top, #56ba39, #7ad756);
    background-image: -ms-linear-gradient(top, #56ba39, #7ad756);
    background-image: -o-linear-gradient(top, #56ba39, #7ad756);
    color: #19480e!important;
}

.pricing-button.color-button-red h6 a.price_btn,
a.btn.btn-danger {
    border: 1px solid #bd3f17;
    background-color: #ef6225;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef6225), color-stop(100%, #e54525));
    background-image: -webkit-linear-gradient(top, #ef6225, #e54525);
    background-image: -moz-linear-gradient(top, #ef6225, #e54525);
    background-image: -ms-linear-gradient(top, #ef6225, #e54525);
    background-image: -o-linear-gradient(top, #ef6225, #e54525);
    color: #632415!important;
}

.pricing-button.color-button-red h6 a.price_btn:hover,
a.btn.btn-danger:hover {
    background-color: #eb5620;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb5620), color-stop(100%, #f47a38));
    background-image: -webkit-linear-gradient(top, #eb5620, #f47a38);
    background-image: -moz-linear-gradient(top, #eb5620, #f47a38);
    background-image: -ms-linear-gradient(top, #eb5620, #f47a38);
    background-image: -o-linear-gradient(top, #eb5620, #f47a38);
    color: #632415!important;
}

a.btn.btn-info {
    border: 1px solid #17B0BD;
    background: #00ffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00ffff 0%, #6cc9c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ffff), color-stop(100%,#6cc9c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00ffff 0%,#6cc9c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00ffff 0%,#6cc9c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00ffff 0%,#6cc9c9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00ffff 0%,#6cc9c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#6cc9c9',GradientType=0 ); /* IE6-9 */
    color: #043533 !important;
}

a.btn.btn-info:hover {
    background: #6cc9c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #6cc9c9 0%, #00ffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cc9c9), color-stop(100%,#00ffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6cc9c9 0%,#00ffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6cc9c9 0%,#00ffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6cc9c9 0%,#00ffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6cc9c9 0%,#00ffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc9c9', endColorstr='#00ffff',GradientType=0 ); /* IE6-9 */
    color: #043533 !important;
}

.pricing-button.color-button-blue h6 a.price_btn,
a.btn.btn-primary {
    border: 1px solid #0076da;
    background-color: #00afff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00afff), color-stop(100%, #117bff));
    background-image: -webkit-linear-gradient(top, #00afff, #117bff);
    background-image: -moz-linear-gradient(top, #00afff, #117bff);
    background-image: -ms-linear-gradient(top, #00afff, #117bff);
    background-image: -o-linear-gradient(top, #00afff, #117bff);
    color: #13395c!important;
}

.pricing-button.color-button-blue h6 a.price_btn:hover,
a.btn.btn-primary:hover {
    background-color: #ff9200;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009cff), color-stop(100%, #11c6ff));
    background-image: -webkit-linear-gradient(top, #009cff, #11c6ff);
    background-image: -moz-linear-gradient(top, #009cff, #11c6ff);
    background-image: -ms-linear-gradient(top, #009cff, #11c6ff);
    background-image: -o-linear-gradient(top, #009cff, #11c6ff);
    color: #13395c!important;
}

.share-this .share-this-content.pin-share a span {
    bottom: -8px!important;
    left: 50px!important;
    background: transparent url('img/count_north_white.png') 0 0 no-repeat!important;
}

.tk_sc_block_accordion_wrapper,
.tk_sc_block_toggle h5.tab-head, 
.shortcodes .tk-shortcode-tabs ul li, 
.tk_sc_block_toggle, .pricing-table-one,
.pricing-table-one-border {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -o-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -khtml-border-radius: 0!important;
    border-radius: 0!important;
}

.tk-shortcode-tabs .nav-tabs a, .shortcodes .tk-shortcode-tabs ul li,
.tk_sc_block_accordion_wrapper .tk_sc_block_accordion:first-child,
.pricing-table-one-top {
    -webkit-border-top-left-radius: 0!important;
    -webkit-border-top-right-radius: 0!important;
    -moz-border-radius-topleft: 0!important;
    -moz-border-radius-topright: 0!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;    
}

.tk_sc_block_accordion_wrapper .tk_sc_block_accordion:last-child, {
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}